{
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  },
  "presets": [
    "babel-preset-react-app",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
