
.video-react {
  padding: 0 !important;
  width: 100vw !important;
  margin-bottom: -4px !important;
}

.video-react-video {
  width: 100% !important;
}

.video-react-control-bar {
  display: none !important;
}

.video-react-big-play-button {
  display: none !important;
}
