.dark-menu-item:hover {
  background-color: #4c4c4c !important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 1px 0 !important;
}

.MuiTimelineItem-missingOppositeContent:before {
  flex: unset !important;
}

@media screen and (min-width: 703px) and (max-width: 900px) {
  .medium-resize {
    width: 300px;
  }
}
