  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato'),
      url('./Lato-Thin.ttf') format('ttf');
  }

  @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato'),
    url('./Lato-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'),
    url('./Lato-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato'),
    url('./Lato-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato'),
    url('./Lato-Black.ttf') format('ttf');
}
